a{
  color: black;
  text-decoration: underline;
  text-decoration-color: crimson;
}

a:hover{
  color: crimson;
  text-decoration: underline;
  text-decoration-color: black;
  animation-duration: 30ms;
}
#title>h1{
  margin: 0%;
}
#title{
  display: flex;
  flex-direction: column;
  margin-bottom: 2em;
}
#inputs{
  display: flex;
  flex-direction: column;
  width: 22.6%;
}
body>p{
  margin-bottom: 0%;
  
}