html, body{
  height: 100%;
  margin: 0px;
}

/* Header start */
header{
  width: 100%;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  background-color: aliceblue;
}
header>ul, header>div{
  display: flex;
  flex-flow: row;
  list-style: none;
  
}
header>ul>li{
  margin-left: 10%;
}
header>ul>li>a, header>ul>li>a:visited{
  text-decoration: none;
  color: black;
 
}
header>ul{
  margin-right: 10%;
  font-size: larger;
}
/* Header end */
/* body start */

#Calculadoras{
  display: flex;
  flex-flow: row;
}
.Sections{
  display: flex;
  flex-flow: column;
  align-items: center;
  margin-left: 1%;
  height: 25%;
  width: 15%;
  border: 3px solid black ;
}
#inputs>input{
  margin: none;
}
#inputs{
  display: contents;
}
.Sections>label{
  width: 85%;
}
#Calculadora_idade>label{
  display: contents;
  margin-left: auto;
}
/* body end */
/* footer start */


/* footer end */